{% extends 'base.html' %}
{% load compress %}
{% load static %}



 
{% block content %}
    <span class="h1">Guruhlar</span><span class="m-3">Miqdori - {{ groups.count }}</span>
    <ul class="list-fluid mt-3">
        <li class="special people xcol-5">
            <span class="h5">
                Nomi
            </span>
            <span class="h5">
                O'qituvchi
            </span>
            <span class="h5">
                Kurs nomi
            </span>
            <span class="h5">
                O'quvchilar soni
            </span>
        </li>
        {% for i in groups %}
            <li class="list__item xcol-5">
                <span>
                    <a href="{% url 'group-detail' i.pk %}">{{ i.name }}</a>
                </span>
                <span>
                    <a href="{% url 'teacher-detail' i.teacher.pk %}">{{ i.teacher.full_name }}</a>
                </span>
                <span>
                    {{ i.course.name }}
                </span>
                <span>
                    {{ i.peoples.count }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block form %}
    <h2 class="text-center pb-3">Yangi kurs ochish</h2>
    <form method="post">{% csrf_token %}
        <label for="group-name" class="h5">Guruh nomi</label>
        <input type="text" name="group-name" class="form-control mb-3" id="group-name" required>

        {% if courses.count != 0 %}
        <label for="cource" class="h5">Qaysi kurs uchun guruh ochmoqchisiz</label>
        <select id="cource" name="course" class="form-control mb-3" required>
            {% for i in courses %}
            <option value="{{ i.pk }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <h1>Hech qanday Kurslar mavjud emas</h1>
        {% endif %}

        {% if courses.count != 0 %}
        <label for="teacher" class="h5">O'qituvchi tanlang</label>
        <select id="teacher" name="teacher" class="form-control mb-3" required>
            {% for i in teachers %}
            <option value="{{ i.pk }}">{{ i.full_name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <h1>Hech qanday Kurslar mavjud emas</h1>
        {% endif %}

        <label for="days" class="h5">Kunlar</label>
        <select name="days" class="form-control" multiple id="days" required>
            {% for i in days %}
            <option value="{{ i.pk }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <label for="is_active">Holati</label>
        <input type="radio" name="is_active" value="True" />&nbsp; Aktiv
        <input type="radio" name="is_active" value="False" />&nbsp; Aktiv emas 

        <label for="start-time" class="h5">Boshlanish vaqti</label>
        <input type="time" class="form-control mb-3" id="start-time" name="start-time" onchange="change()" required>

        <label for="end-time" class="h5">Tugash vaqti</label>
        <input type="time" class="form-control mb-3" id="end-time" name="end-time" disabled>

        <button class="btn btn-primary text-white" type="submit">Kurs yaratish</button>
    </form>

    <script>
        let start_time = document.querySelector('#start-time')
        let end_time = document.querySelector('#end-time')

        let duration = 2

        function change() {
            let arr = start_time.value.split(':');

            if (Number.parseInt(arr[0]) > 21) {
                arr[0] = `${Number.parseInt(arr[0]) - 24}`;
            }
            end_time.value = Number.parseInt(arr[0]) < 8 ? `0${Number.parseInt(arr[0]) + duration}:${arr[1]}` : `${Number.parseInt(arr[0]) + duration}:${arr[1]}`
        }

    </script>
{% endblock form %}