{% extends 'base.html' %}
{% load static %}{% load compress %}


{% block title %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss\context.scss' %}" rel="stylesheet" media="screen">
    {% endcompress css %}
{% endblock title %}

{% block content %}
    <span class="h1">Lidlar</span><span class="m-3">Miqdori - {{ lids.count }}</span>
    <ul class="list-fluid">
        <li class="special">
            <span class="h5">
                Ism familiya
            </span>
            <span class="h5">
                Tel raqam
            </span>
            <span class="h5">
                Qo'shimcha ma'lumot
            </span>
        </li>
        {% for i in lids %}
        <li class="lid"  data-lid-id="{{ i.pk }}">
            <span>
                <a href="">{{ i.full_name }}</a>
            </span>
            <span>
                {{ i.phone }}
            </span>
            <span data-data="{{ i.data }}">
                {{ i.data|slice:":50" }}{% if i.data|length >= 50 %}...{% endif %}
            </span>
            <span class="d-none">
                {{ i.pk }}
            </span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block form %}    
    <div id="modal" class="back d-none" data-modal-name="add-modal">
        <div class="modal">
            <div class="close" data-modal-id="add-modal">&times;</div>

            <h2 class="text-center pb-3">Yangi lid qo'shish</h2>
            <form method="post">{% csrf_token %}
                <input type="hidden" value="create" name="command">
                <label for="full-name" class="h5">Ism familiya</label>
                <input type="text" name="full-name" class="form-control mb-3" id="full-name" required>
                
                <label for="phone" class="h5">Tel raqam</label>
                <input type="text" name="phone" class="form-control mb-3" id="phone" required>
                
                <label for="data" class="h5">Qo'shimcha ma'lumot</label>
                <textarea name="data" id="data" class="form-control mb-3 textarea" style="height: 150px;" required></textarea>

                <button class="btn btn-primary text-white" type="submit">Qo'shish</button>
            </form>
        </div>
    </div>

    <div class="back d-none" data-modal-name="edit">
        <div class="modal">
            <div class="close" data-modal-id="edit">&times;</div>

            <h2 class="text-center pb-3">Lidni yangilash</h2>
            <form method="post">{% csrf_token %}
                <input type="hidden" value="update" name="command">
                <input type="hidden" value="" name="id" id="pk">
                <label for="full-name2" class="h5">Ism familiya</label>
                <input type="text" name="full-name" class="form-control mb-3" id="full-name2" required>
                
                <label for="phone2" class="h5">Tel raqam</label>
                <input type="text" name="phone" class="form-control mb-3" id="phone2" required>
                
                <label for="data2" class="h5">Qo'shimcha ma'lumot</label>
                <textarea name="data" id="data2" class="form-control mb-3 textarea" style="height: 150px;" required></textarea>

                <button class="btn btn-primary text-white" type="submit">Yangilash</button>
            </form>

        </div>
    </div>
{% endblock %}


{% block context %}
    <div id="context-menu">
        <div class="context-button move open-modal" >Guruhga o'tkazish</div>
        <div class="context-button edit open-modal" data-modal-id="edit">Tahrirlash</div>
        <div class="context-button delete open-modal" >O'chirish</div>
    </div>
{% endblock context %}


{% block script %}
    <script src="{% static 'js/context.js' %}"></script>
{% endblock script %}
