{% extends 'base.html' %}
{% load static %}


{% block title %}
    <link href="{% static 'css\context.css' %}" rel="stylesheet" >
{% endblock title %}

{% block content %}
    <span class="h1">Lidlar</span><span class="m-3">Miqdori - {{ lids.count }}</span>
    <ul class="list-fluid">
        <li class="special">
            <span class="h5">
                Ism familiya
            </span>
            <span class="h5">
                Tel raqam
            </span>
            <span class="h5">
                Qo'shimcha ma'lumot
            </span>
        </li>
        {% for i in lids %}
        <li class="lid"  data-lid-id="{{ i.pk }}">
            <span>
                <a href="">{{ i.full_name }}</a>
            </span>
            <span>
                {{ i.phone }}
            </span>
            <span data-data="{{ i.data }}">
                {{ i.data|slice:":50" }}{% if i.data|length >= 50 %}...{% endif %}
            </span>
            <span class="d-none">
                {{ i.pk }}
            </span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block form %}    
    <div id="modal" class="back d-none" data-modal-name="add-modal">
        <div class="modal">
            <div class="close" data-modal-id="add-modal">&times;</div>

            <h2 class="text-center pb-3">Yangi lid qo'shish</h2>
            <form method="post">{% csrf_token %}
                <input type="hidden" value="create" name="command">
                <label for="full-name" class="h5">Ism familiya</label>
                <input type="text" name="full-name" class="form-control mb-3" id="full-name" required>
                
                <label for="phone" class="h5">Tel raqam</label>
                <input type="text" name="phone" class="form-control mb-3" id="phone" required>
                
                <label for="data" class="h5">Qo'shimcha ma'lumot</label>
                <textarea name="data" id="data" class="form-control mb-3 textarea" style="height: 150px;" required></textarea>

                <button class="btn btn-primary text-white" type="submit">Qo'shish</button>
            </form>
        </div>
    </div>

    <div class="back d-none" data-modal-name="edit">
        <div class="modal">
            <div class="close" data-modal-id="edit">&times;</div>

            <h2 class="text-center pb-3">Lidni yangilash</h2>
            <form method="post">{% csrf_token %}
                <input type="hidden" value="update" name="command">
                <input type="hidden" value="" name="id" id="pk">
                <label for="full-name2" class="h5">Ism familiya</label>
                <input type="text" name="full-name" class="form-control mb-3" id="full-name2" required>
                
                <label for="phone2" class="h5">Tel raqam</label>
                <input type="text" name="phone" class="form-control mb-3" id="phone2" required>
                
                <label for="data2" class="h5">Qo'shimcha ma'lumot</label>
                <textarea name="data" id="data2" class="form-control mb-3 textarea" style="height: 150px;" required></textarea>

                <button class="btn btn-primary text-white" type="submit">Yangilash</button>
            </form>

        </div>
    </div>

    <div class="back d-none" data-modal-name="delete">
        <div class="modal">
            <div class="close" data-modal-id="delete">&times;</div>

            <h2 class="text-center pb-3">Lidni o'chirish</h2>
            <div class="center mb-3" id="lid-data">
                Haqiqatdan ham <b><u>dd</u></b> ni <br>
                o'chirmoqchimisiz?
            </div>
            <div class="d-flex">
                <a class="_close" href="#">Bekor qilish</a>
                <a class="delete" href="" id="delete-button">O'chirish</a>
            </div>
        </div>
    </div>

    <div class="back d-none" data-modal-name="move">
        <div class="modal">
            <div class="close" data-modal-id="move">&times;</div>

            <form method="post">{% csrf_token %}
                <label for="group-select" class="h5">Guruhni tanlang</label>
                <select id="group-select" name="group-id" class="form-control mb-3" required>
                    {% for i in groups %}
                    <option value="{{ i.pk }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
                <label for="birthday" class="h5">Tu'gilgan sana</label>
                <input type="date" name="birthday" class="form-control mb-3" id="birthday" required>
                
                <input type="hidden" name="lid-id" value="" id="lid-id">
                <input type="hidden" name="command" value="add-group">


                <button class="btn btn-primary text-white" type="submit">Kurs yaratish</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block context %}
    <div id="context-menu">
        <div class="context-button move open-modal" data-modal-id="move">Guruhga o'tkazish</div>
        <div class="context-button edit open-modal" data-modal-id="edit">Tahrirlash</div>
        <div class="context-button delete open-modal" data-modal-id="delete">O'chirish</div>
    </div>
{% endblock context %}


{% block script %}
    <script src="{% static 'js/context.js' %}"></script>
{% endblock script %}
