{% extends 'base.html' %}



{% block content %}
<span class="h1">Talabalar</span><span class="m-3">Miqdori - {{ peoples.count }}</span>
<ul class="list-fluid">
    <li class="special people xcol-6">
        <span class="h5">
            Ism familiya
        </span>
        <span class="h5">
            Tel raqam
        </span>
        <span class="h5">
            Balans
        </span>
        <span class="h5">
            Holat
        </span>
    </li>
    {% for i in peoples %}
    <li class="people xcol-6">
        <span>
            <a href="">{{ i.full_name }}</a>
        </span>
        <span>
            {{ i.phone }}
        </span>
        <span>
            {{ i.balans }} so'm
        </span>
        <span>
            <div class="xs {% if i.balans >= 0 %} g {% else %} c {% endif %}"></div>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block form %}
<div id="modal" class="back d-none" data-modal-name="add-modal"> 
    <div class="modal">
        <div class="close" id="close" data-modal-id="add-modal">&times;</div>
        <h2 class="text-center pb-3">Yangi talaba qo'shish</h2>
    <form method="post">{% csrf_token %}
        <input type="hidden" name="command" value="create">
        <label for="full-name" class="h5">Ism familiya</label>
        <input type="text" name="full-name" class="form-control mb-3" id="full-name" required>
        
        <label for="phone" class="h5">Tel raqam</label>
        <input type="text" name="phone" class="form-control mb-3" id="phone" required>
        
        
        <button class="btn btn-primary text-white" type="submit">Qo'shish</button>
    </form>
        
    </div>
</div>

    
{% endblock form %}