<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    
    <h2>User <u>{{ request.user.username }}</u></h2>
    <h2>EC <u>{{ ec.name }}</u></h2>
    <a href="{% url 'logout' %}">logout</a>
    <hr>
        <a href="{% url 'home-page' %}">Bosh sahifa</a>
        <a href="">Lidlar</a>
        <a href="{% url 'peoples-page' %}">Talabalar</a>
        <a href="">O'qituvchilar</a>
        <a href="">Kurslar</a>
        <a href="">Guruhlar</a>
    <hr>
    {% block content %}
    {% endblock content %}

</body>
</html>