{% load compress %}
{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/login.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <title>Document</title>

</head>
<body>
    <div class="container">
        <h1>Eduground.uz</h1>
        <form method="POST">{% csrf_token %}
            <div>
                <label for="name">O'quv markaz nomi</label>
                <input type="text" id="name" name="name"/>
            </div>
            <div>
                <label for="password">O'quv markaz paroli</label>
                <input type="password" id="password" name="password" />
            </div>
            <span>
                <input  type="checkbox" id="checkbox" /><label for="checkbox">Show password</label>
            </span>
            <div class="center">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>

    <script>
        let value = false
        let checkbox = document.querySelector('#checkbox')

        let password = document.querySelector('#password')

        checkbox.addEventListener('change', (event)=>{
            value = !value

            value ? password.type = 'text' : password.type = 'password'
        })

    </script>


</body>
</html>