{% extends 'base.html' %}

{% load static %}

{% block title %}
    <link  href="{% static 'css\detail\teacher.css' %}" rel="stylesheet" >
{% endblock title %}

{% block form %}

<div class="back d-none" data-modal-name="edit">
    <div class="modal">
        <div class="close" data-modal-id="edit">&times;</div>
        <h2 class="text-center pb-3">Edit</h2>
    </div>
</div>


{% endblock form %}

{% block content %}
    
    <div class="h3 my-3" style="margin-left: 15px !important;">
        {{ teacher.full_name }}
    </div>
    <div class="_wrapper">
        <div class="info">
            <div class="float">
                <button class="edit open-modal" data-modal-id="edit">✏</button>
            </div>

            <p class="center"><b>{{ teacher.full_name }}</b></p>
            <div class="mb-3">
                <div><b>Telefon:</b> {{ teacher.phone }}</div>
            </div>
           
        </div>
        <div class="_list">
            <ul class="list-fluid mt-3">
                {% for i in groups %}
                    <li class="">
                        <span>
                            <a href="{% url 'course-detail' i.course.pk %}">{{ i.course.name }}</a>
                        </span>
                        <span>
                            <a href="{% url 'group-detail' i.pk %}">{{ i.name }}</a>
                        </span>
                        <span>
                            {{ i.peoples.count }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}
