html,
body {
    padding: 0;
    margin: 0;

    #context-menu {
        border: 1px solid rgb(191, 191, 191);
        position: fixed;
        z-index: 10000;
        background: #ffffff;
        border-radius: 5px;
        transform: scale(0);
        transform-origin: top left;
        box-sizing: border-box;
        width: 300px;

        .context-button {
            border-radius: inherit;
            padding: 10px;
            box-sizing: border-box;
            display: block;
            box-sizing: border-box;
            background-color: #ffffff;
            color: #343434;

            &:hover {
                background-color: aliceblue;
            }
        }
        .move {
            transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                color: white;
                background-color: #5cb377;
            }
        }

        .delete {
            transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                color: white;
                background-color: red;
            }
        }
        .edit {
            transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                color: white;
                background-color: #eebf41;
            }
        }
    }

    #context-menu.visible {
        transform: scale(1);
        transition: transform 200ms ease-in-out;
    }
}

.modal {
    .d-flex {
        gap: 10px;
        display: flex;
        justify-content: center;
    }

    .delete {
        color: white;
        background-color: red;
        padding: 6px 20px;
        border-radius: 5px;
        transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
            color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }

    ._close {
        color: white;
        transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: dodgerblue;
        padding: 6px 20px;
        border-radius: 5px;

        &:hover {
            color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    }

    .center {
        text-align: center;
    }
}
