._wrapper {
    padding: 10px;
    border-radius: 3px;
    gap: 10px;
    display: flex;
    width: 100%;

    .info,
    ._list {
        padding: 10px;
        border-radius: 3px;
    }

    .info {
        height: max-content;
        background-color: white;
        width: 30%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
        font-weight: 500;

        .xbtn {
            width: 40px;
            height: 40px;
            font-size: 12px;
            border: none;
            border-radius: 50%;
            border: 1px solid #15a362;
            padding: 10px;
        }

        .float {
            float: right;
        }
    }

    ._list {
        width: 70%;
    }
}

.list-button, .save-button {
    cursor: pointer;
    border-radius: 0.375em;
    padding: 7px 20px;
    transition: .2s ease-in-out;

    border: 1px solid #15a362;
    background-color: white;
    color: #15a362;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background-color: #15a362;
        color: white;
    }
}

.list-button.active, .save-button {
    background-color: #15a362;
    color: white;
    border: 1px solid #15a362;

    &:hover {
        background-color: #15a362;
        color: white;
    }
}
